body {
   
   background-color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    height: 100vh;
    width: 100vw;


}

#board {
    background-color: #ccc;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(21, 1fr);
    border-radius: 10px;
 
}

.snake {
    background-color: black;
    border: .25vmin solid white;
    border-radius: 4px;
}

.food {
    background-color: blueviolet;
    border: .25vmin solid blueviolet;
    border-radius: 50%;

}

h1 {
   
    color: #ccc;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: bold;
}

.gud {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}